/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
 @import 'https://www.nerdfonts.com/assets/css/webfont.css';

 i {
   color: #a37c89;
   margin-right: 7px;
 }

 #window {
    font-size: 10px;
    color: rgb(255 255 255 / 80%);
    margin-right: 8px;
    margin-left: 2px;
 }
 
 body {
   font-family: "0xProto Nerd Font Mono", ui-monospace, monospace;
   font-size: 12px;
   overflow: hidden;
 }
 
 div,
 span,
 p {
   cursor: default;
   user-select: none;
   color: rgb(255 255 255 / 90%);
 }
 
 html,
 body,
 #root {
   height: 26px;
 }
 
 #root {
   border-radius: 0px;
   background: linear-gradient(rgb(0 0 0 / 90%), rgb(0 0 0 / 90%));
 }
 
 .app {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   height: 26px;
   padding: 4px 8px;
 }
 
 .left,
 .center,
 .right {
   display: flex;
   align-items: center;
 }
 
 .center {
   justify-self: center;
 }
 
 .right {
   justify-self: end;
 }
 
 .logo,
 .music,
 .binding-mode,
 .tiling-direction,
 .paused-button,
 .network,
 .memory,
 .cpu,
 .gpu,
 .battery,
 .weather {
   margin-right: 15px;
 }
 
 .logo {
   font-size: 18px;
   margin-right: 20px;
 }
 
 .workspaces {
   display: flex;
   align-items: center;
 }
 
 .workspace {
   background: rgba(0, 0, 0, 0.2);
   margin-right: 0px;
   padding: 2px 6px;
   color: #a37c89;
   border: none;
   border-radius: 2px;
   cursor: pointer;
 }
 
 .workspace.displayed {
   background: rgba(0, 0, 0, 0.2);
 }
 
 .workspace.focused,
 .workspace:hover {
   background: rgba(255, 255, 255, 0.2);
   color: rgb(255 255 255 / 90%);
 }
 
 .binding-mode,
 .tiling-direction,
 .paused-button {
   background: rgb(255 255 255 / 15%);
   color: rgb(255 255 255 / 90%);
   border-radius: 2px;
   line-height: 1;
   padding: 4px 8px;
   border: 0;
   cursor: pointer;
 }
 
 .binding-mode {
   margin-right: 4px;
 }
 
 .cpu .high-usage {
   color: #900029;
 }
 
 .battery {
   position: relative;
 }
 
 .battery .charging-icon {
   position: absolute;
   font-size: 11px;
   left: 7px;
   top: 2px;
 }
 
 .network .ssid {
   margin-right: 5px;
 }
 
 .weather,
 .cpu,
 .gpu,
 .memory {
   display: flex;
   align-items: center;
 }
